*

!.eslintrc.js
!.gitattributes
!.gitignore
!.tool-versions
!.yarnrc.yml
!cdk.json
!index.ts
!jest.config.ts
!package.json
!tsconfig.json
!yarn.lock

!.github/
!.github/workflows/
!.github/workflows/*.yml

!src/
!src/**/
!src/**/*.ts

!__tests__/
!__tests__/**/
!__tests__/**/*.ts

# rules for yarn
!.yarn/
!.yarn/*/
!.yarn/plugins/*/
!.yarn/plugins/*/*.cjs
!.yarn/releases/*.cjs
